#mainContentContainer {
    width: auto;
    /* Hero Module */
    #rcHero {
        margin: 0 0 30px;
        background: url("https://prodcache.internal.ihg.com/content/dam/etc/media_library/branded/6c/en/us/rewardsclub/banners/joinRcHero.jpg") no-repeat 0px 0px;
        position: relative;
        overflow: auto;
        height: 227px;
        width: 980px;
        section {
            margin-left: 30px;
            position: relative;
            top: 35px;
            h3 {
                margin-bottom: 5px;
                padding-bottom: 0;
                font: bold italic 1.33em Georgia;
                color: #000;
            }
            #rcBenefits {
                padding-top: 0;
                padding-bottom: 0;
                color: #000;
                li {
                    margin-bottom:9px;
                    line-height:16px;
                    &:first-child {
                        width:33%;
                    }
                    &:nth-child(3n) {
                        width:34%;
                    }
                }                
            }
        }
    }
    :root #rcHero {
        width: auto;
    }
    #content {
        width: 580px;
    }
    /* Form Heading */
    h2 {
        display: none;
    }
    /* Security Logo */
    #securityLogos {
        width: 492px;
        float:right;
    }
    /*:root #securityLogos {
        float: none\0;
        clear: none\0;
        text-align: right\0;
    }*/
    #securityLogos img {
        /*position: absolute;*/
    }
    #contentSlot {
        float: right;
        clear: right;
        position: relative;
        top: 50px;
    }
    :root #contentSlot {
        text-align: right\0;
        float: none\0;
        clear: none\0;
    }
    /* Form Styles */
    .indicatesRequiredFields {
        margin-bottom: 20px;
        padding-top: 0;
        float: left;
        /*color: #ff0000;*/
        font-weight: bold;
    }
    .taoAccountBlock, .taoMailingBlock {
        margin-bottom: 15px;
        label {
            margin-bottom: 6px;
            display: block;
            span {
                color: #ff0000;
            }
        }
        .textinput, #countrySelect, input {
            display: block;
        }
        #firstName, #lastName, #addressField1, #addressField2 {
            width: 400px;
        }
        #countrySelect, #city, #stateBox {
            width: 200px;
        }
    }
    #introWrapper, #formHeaderWrapper, .title.section {
        display: none;
    }
    /* Terms & Conditions */
    .checkbox.section {
        padding: 0;
        width: 412px;
        line-height: 18px;
        h3 {
            font-family: Arial, 'sans-serif', Helvetica;
            font-style: normal;
            font-weight: bold;
        }
        #acceptTermsAndConditions1 {
            float: left;
        }
        .inline {
            display: block;
            a {
                text-decoration: underline;
            }
        }
    }
    #taoMailErrorMsgs {
        width:99%;

        .validationCell {
            background: url("https://ihg.scene7.com/is/image/ihg/pc_masterSprite2?fmt=gif-alpha&wid=28&hei=4799") no-repeat scroll 7px -2692px #FBE5E5;
            border: 1px solid #EAB7B7;
            clear: both;
            line-height: 20px;
            margin-top: 1px;
            padding: 0.833em 3em;
            width: 85%;
        }     
        /* Submit Button Container */
        .submit.section {
            padding-left: 0;
        }
        .form_rightcol {
            float:none;
        }        
    }

}