.price-fighter-widget {
	margin-top:10px;
	display: block !important;
	position:relative !important;
	//height:63px !important;
	width:auto !important;
	overflow:auto !important;
}

.avgrate {
	display:none;
}


