$background-color: #34a33a;

.spotlightContentWrapper #resultsWrapper {
	position:relative;
	top:-55px;
}
.progressBar {
	width: 400px;
	float: right;

	.ratesPageHeader
		{padding-bottom: 0px;}

	.resFlowMainTitle
		{display:none;}
}

.msgWrapper {
	margin:10px 0;
	padding:15px;
	text-align: center;
	background:$background-color;
	border:none;
	position:relative;
	display:none;

	.btmMsg {
		margin:0 auto;
		padding:8px 0 8px 45px;
		height:35px;
		background: transparent url('../img/icon_check.png') no-repeat 0 0;
		position:relative;
		font-size: 18px;
		font-weight:bold;
		letter-spacing: .3px;
		color:#fff;
		display:none;		
	}
		.ltdAvail {
			margin-left:11px;
			padding-left:9px;
			border-left:1px solid #fff;
			font-size:13px;
			font-weight:normal; 
		}	
}