.taoFilterParent {
	display:none;
	text-align:center;
}
#sortOptions {
	/*margin-bottom:20px;*/
}

.col-md-12 {

	/* SHOW/HIDE */
	.taoShow {
		display:block;
	}
	.taoHide {
		display:none;		
	}
	label.spanOffset.taoPlus,
	label.spanOffset.taoMinus {
		padding:20px 0 40px 34px;		
		text-align:left;
		color:#0055A5;
		text-decoration:underline;
		font-weight:bold;
		height:30px;
		width:168px;
		cursor:pointer;		
		background:transparent url('../img/icon_plus.png') no-repeat 4px 16px;
	}
	label.spanOffset.taoMinus {
		background:transparent url('../img/icon_minus.png') no-repeat 4px 16px;	
	}	
	#btnApplyFilter {
		margin:20px 0;		
		clear:both;
	}
	.dropdown-menu> li > a,
	.dropdown-menu> li > a:hover,
	.dropdown-menu> li > a:focus,
	.dropdown-menu> .active > a,
	.dropdown-menu> .active > a:hover,
	.dropdown-menu> .active > a:focus,
	.dimSelected > .active > a:hover,
	.dimSelected > .active > a:focus,
	.dropdown-submenu:hover > a,
	.dropdown-submenu:focus > a {
		padding:3px 0;
		background-color:#ffffff !important;
		background-image:linear-gradient(to bottom, #ffffff, #ffffff) !important; /* ADD ALL BROSWSER PREFIXES */
		color:#444444;
	}
	/* RATINGS */
	.taoRatings,
	.taoAmenities {
		margin-right:10px;
		text-align:left;
		width:130px;
		float:left;

		.taoRatingsHeading,
		.taoAmenitiesHeading {
			margin:0 10px 12px 0;
			padding:0;
			font-size:13px;
			font-weight:bold;
			text-transform:uppercase;
			border-bottom:1px solid #cacaca;
		}
		section {
			clear:both;
		}
		input {
			margin-right:5px;
			margin-bottom:10px;
			float:left;
			clear:left;
		}
		span {
			padding-right:90px;
			background: transparent url('../img/icon_stars.png') no-repeat -3px -3px;
		}
		.taoThreeStars {
			background-position:-22px -3px;
		}
		.taoTwoStars {
			background-position:-41px -3px;
		}
		.taoOneStar {
			background-position:-60px -3px;
		}

	}

	/* AMENITIES */
	.taoAmenities {
		width:302px;

		section {
			clear:none;
		}

		.amenitiesLeftCol,
		.amenitiesRightCol {
			margin-right:12px;
			float:left;
			width:139px;
			
			.dropdown-menu {
				min-width:145px;
			}

			.multiselect-container {
				display:block;
				position:relative;
				float:none;
				box-shadow:none;
				border:none;
				max-height:none !important;
				overflow:hidden;

				li > a:hover {
					padding:3px 0;
					overflow:auto;		
				}
			}

			span {
				padding:0;
				background:none;
			}
		}

		.amenitiesRightCol {
			margin-right:0;
				
			span {
				padding:0;
				background:none;
			}
		}
	}

	/* IHG BRANDS */
	.taoBrands {
		margin-right:18px;
		padding:0;
		float:left;
		width:320px;
		text-align:left;

		.taoBrandsHeading {
			margin:0 0 12px 0;
			padding:0;
			font-size:13px;
			font-weight:bold;
			text-transform:uppercase;
			border-bottom:1px solid #cacaca;	
		}
		.brandsLeftCol,
		.brandsRightCol {
			margin-right:12px;
			float:left;
			width:180px;

			.dropdown-menu {
				/*min-width:145px;*/

				li > a {
					padding:3px 0;
				}
			}

			.multiselect-container {
				display:block;
				position:relative;
				float:none;
				box-shadow:none;
				border:none;
				max-height:none !important;
				overflow:hidden;

				li > a:hover {
					padding:3px 0;
					overflow:auto;		
				}
			}

		}
		.brandsRightCol {
			margin-right:0;
			width:128px;
		}

	}

	/* FILTER BY */
	.taoFilterBy {
		margin:0 0 109px;
		padding:0;
		float:left;
		width:145px;
		text-align:left;

		.taoFilterByHeading {
			margin:0 0 12px 0;
			padding:0;
			font-size:13px;
			font-weight:bold;
			text-transform:uppercase;
			border-bottom:1px solid #cacaca;		
		}

		.dropdown-menu {
			min-width:145px;

			li > a {
				padding:3px 0;
			}
		}

		.multiselect-container {
			display:block;
			position:relative;
			float:none;
			box-shadow:none;
			border:none;
			max-height:none !important;
			overflow:hidden;

			li > a:hover {
				padding:3px 0;
				overflow:auto;		
			}
		}	
	}
}
