.tabWellRow {
	.tabwell {
		padding:0; /* remove l/r padding on search filter */
		.controls-row {
			padding-bottom:0;
		}
	}
}
#filterSortForm {
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #efefef 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fefefe 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fefefe 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

	fieldset > .controls-row:nth-child(1) {		
		display:none;
	}
}
.taoFilterParent {
	padding:12px;
	text-align:center;
}
#sortOptions {
	padding:0 0 10px;
}

/*.col-md-12*/
.tabwell {

	.sortBox {
		border-right:none;
		border-left:none;
	}

	.tab-pane {
		padding:10px 10px 0;
	}

	/* SHOW/HIDE */
	.taoShow {
		display:block !important;
	}
	.taoHide {
		display:none;		
	}
	label.spanOffset.taoPlus,
	label.spanOffset.taoMinus {
		padding:20px 0 0 34px;		
		text-align:left;
		color:#0055A5;
		text-decoration:underline;
		font-weight:bold;
		height:40px;
		width:168px;
		cursor:pointer;		
		background:transparent url('http://prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/icons/sprite/sprite.gif') no-repeat 10px -1557px;
	}
	label.spanOffset.taoMinus {
		background:transparent url('http://prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/icons/sprite/sprite.gif') no-repeat 10px -1170px;
	}
	.multiselect-container li a label.checkbox,
	.multiselect-container li a label.radio {
		background:none;
	}	
	#btnApplyFilter {
		margin:20px 0 10px;	
		clear:both;
	}
	.dropdown-menu,
	.dimSelected {
		> li > a,
		> li > a:hover,
		> li > a:focus,
		> .active > a,
		> .active > a:hover,
		> .active > a:focus,
		> .active > a:hover,
		> .active > a:focus,
		.dropdown-submenu:hover > a,
		.dropdown-submenu:focus > a {
			padding:3px 0;
			background-color:transparent !important;
			background-image:none !important;
			filter:none; /* IE6-9 */
			color:#444444;
		}
	}
	/* RATINGS */
	.taoRatings,
	.taoAmenities {
		margin-right:10px;
		text-align:left;
		width:130px;
		float:left;

		.taoRatingsHeading,
		.taoAmenitiesHeading {
			margin:0 10px 12px 0;
			padding:0;
			font-size:13px;
			font-weight:bold;
			text-transform:uppercase;
			border-bottom:1px solid #cacaca;
		}
		section {
			clear:both;

			.multiselect-container {
				display: block;
			    position: relative;
			    float: none;
			    box-shadow: none;
			    border: none;
			    background: none;
			    max-height: none !important;
			    overflow: hidden;

			    li a label.radio input {
					margin-right:5px;
					margin-bottom:10px;
					float:left;
					clear:left;
					display:block !important;

			    }
			}
		}
		.taoFourStars, .taoThreeStars, .taoTwoStars, .taoOneStar {
			position:relative;
			background: transparent url('https://prodcache.internal.ihg.com/content/dam/etc/media_library/cn/0/cn/reviews/icon_stars.png') no-repeat 14px 1px;

			.plus {
			    position: absolute;
			    top: 3px;
			    right: 22px;			    
			    font-size: 15px;
			    font-weight: bold;		
			}

		}
		.taoThreeStars {
			width:75px;

			.plus {
			    top: 4px;
			    right: -14px;
			}


		}
		.taoTwoStars {
			width:55px;

			.plus {
			    top: 5px;
			    right: -14px;
			}

		}
		.taoOneStar {
			width:35px;

			.plus {
			    top: 5px;
			    right: -13px;
			}

		}

	}

	/* AMENITIES */
	.taoAmenities {
		width:302px;

		section {
			clear:none;
		}

		.amenitiesLeftCol,
		.amenitiesRightCol {
			margin-right:12px;
			float:left;
			width:139px;
			
			.dropdown-menu {
				min-width:145px;
			}

			.multiselect-container {
				display:block;
				position:relative;
				float:none;
				box-shadow:none;
				border:none;
				background:none;
				max-height:none !important;
				overflow:hidden;

				li > a:hover {
					padding:3px 0;
					overflow:visible;		
				}
			}

			span {
				padding:0;
				background:none;
			}
		}

		.amenitiesRightCol {
			margin-right:0;
			 ul li {
			 	list-style:none;
			 }

			a {
				color:#444444;
			}
				
			span {
				padding:0;
				background:none;
			}
		}
	}

	/* IHG BRANDS */
	.taoBrands {
		margin-right:18px;
		padding:0;
		float:left;
		width:320px;
		text-align:left;

		.taoBrandsHeading {
			margin:0 0 12px 0;
			padding:0;
			font-size:13px;
			font-weight:bold;
			text-transform:uppercase;
			border-bottom:1px solid #cacaca;	
		}
		.brandsLeftCol,
		.brandsRightCol {
			margin-right:12px;
			float:left;
			width:180px;

			.dropdown-menu {

				li > a {
					padding:3px 0;
				}
			}

			.multiselect-container {
				display:block;
				position:relative;
				float:none;
				box-shadow:none;
				border:none;
				max-height:none !important;
				overflow:hidden;
				background:none;

				li > a:hover {
					padding:3px 0;
					overflow:auto;		
				}
			}

		}
		.brandsRightCol {
			margin-right:0;
			width:128px;
		}

	}
	#btnApplyFilter ~ .taoBrands {
		display:none;
	}

	/* FILTER BY */
	.taoFilterBy {
		margin:0 0 109px;
		padding:0;
		float:left;
		width:145px;
		text-align:left;

		.taoFilterByHeading {
			margin:0 0 12px 0;
			padding:0;
			font-size:13px;
			font-weight:bold;
			text-transform:uppercase;
			border-bottom:1px solid #cacaca;		
		}

		.dropdown-menu {
			min-width:145px;

			li > a {
				padding:3px 0;
			}
		}

		.multiselect-container {
			display:block;
			position:relative;
			float:none;
			box-shadow:none;
			border:none;
			background:none;
			max-height:none !important;
			overflow:hidden;

			li > a:hover {
				padding:3px 0;
				overflow:auto;		
			}
		}	
	}
	#btnApplyFilter ~ .taoFilterBy,
	#btnApplyFilter:nth-child(2) {
		display:none;
	}
}
