$background: #ffffff;
$border-width: 5px;

#identityBlock {
	padding-top:10px;
	padding-bottom:14px;
	border-width: $border-width !important;

	.signInErrorBoxContainer {
		width: auto;
		float: none;
		/*margin-top: 12px;*/
	}	

	.paymentihglog {
		margin-right:45px;
		position:relative;
		float:right;
		top:50px;
	}

	#UHF_header_loginform {
		margin:0;
	}

	.rememberWrap {
		margin:0;
		padding:0;
		float:left;
		width:430px;
		border-right:2px solid #cccccc;

		.heavyText {		
			padding:0;
			font-size:15px;
		}		

		.heavyText span {
			padding-left:3px;
		}

		.signIn {
			padding:0;
			background: $background;

			#uhf_btn_SignIn {
				margin:14px 10px 0 10px;
			}

			div input {
				height:20px;
			}

			.rememberCheckbox {
				top:0;
			}

			.forgotRememberPin {
				margin:12px 0 0 0;
				padding:0;
				float: left !important;

				> span {
					display: none; /*if needed, display property may be removed*/
				}
			}

			.rememberCheck {
				margin-left:6px;
				clear:both;
				
				#remember {
					margin:1px 5px 0 0;
					float:left;
				}				
			}
		}
	}
}

#frmGuestInfo #identityBlock {
	padding:15px;

	.paymentihglog {
		margin-right:30px;
		margin-left:0;
		position: relative;
		top:30px;
	}	

	#anonId {

		.heavyText {
			padding:0 0 5px;		
			float:left;
		}
		.heavyText span:first-child {
			padding-left:0;
			font-size:15px;
		}

		.heavyText:nth-child(2) {
			padding-bottom:5px;
		}

		.joinNow {
			padding:0;
			float:left;
			width:450px;
			background: $background;
			border-right:2px solid #cccccc;

			.joinnowtext {
				float:right;
				width:420px;
			}		
		}	
	}
}
