.tabWellRow .tabwell {
  padding: 0;
  /* remove l/r padding on search filter */ }
  .tabWellRow .tabwell .controls-row {
    padding-bottom: 0; }

#filterSortForm {
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #efefef 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #efefef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #efefef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#efefef',GradientType=0 );
  /* IE6-9 */ }
  #filterSortForm fieldset > .controls-row:nth-child(1) {
    display: none; }

.taoFilterParent {
  padding: 12px;
  text-align: center; }

#sortOptions {
  padding: 0 0 10px; }

/*.col-md-12*/
.tabwell {
  /* SHOW/HIDE */
  /* RATINGS */
  /* AMENITIES */
  /* IHG BRANDS */
  /* FILTER BY */ }
  .tabwell .sortBox {
    border-right: none;
    border-left: none; }
  .tabwell .tab-pane {
    padding: 10px 10px 0; }
  .tabwell .taoShow {
    display: block !important; }
  .tabwell .taoHide {
    display: none; }
  .tabwell label.spanOffset.taoPlus,
  .tabwell label.spanOffset.taoMinus {
    padding: 20px 0 0 34px;
    text-align: left;
    color: #0055A5;
    text-decoration: underline;
    font-weight: bold;
    height: 40px;
    width: 168px;
    cursor: pointer;
    background: transparent url("http://prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/icons/sprite/sprite.gif") no-repeat 10px -1557px; }
  .tabwell label.spanOffset.taoMinus {
    background: transparent url("http://prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ex/cn/icons/sprite/sprite.gif") no-repeat 10px -1170px; }
  .tabwell .multiselect-container li a label.checkbox,
  .tabwell .multiselect-container li a label.radio {
    background: none; }
  .tabwell #btnApplyFilter {
    margin: 20px 0 10px;
    clear: both; }
  .tabwell .dropdown-menu > li > a,
  .tabwell .dropdown-menu > li > a:hover,
  .tabwell .dropdown-menu > li > a:focus,
  .tabwell .dropdown-menu > .active > a,
  .tabwell .dropdown-menu > .active > a:hover,
  .tabwell .dropdown-menu > .active > a:focus,
  .tabwell .dropdown-menu > .active > a:hover,
  .tabwell .dropdown-menu > .active > a:focus,
  .tabwell .dropdown-menu .dropdown-submenu:hover > a,
  .tabwell .dropdown-menu .dropdown-submenu:focus > a,
  .tabwell .dimSelected > li > a,
  .tabwell .dimSelected > li > a:hover,
  .tabwell .dimSelected > li > a:focus,
  .tabwell .dimSelected > .active > a,
  .tabwell .dimSelected > .active > a:hover,
  .tabwell .dimSelected > .active > a:focus,
  .tabwell .dimSelected > .active > a:hover,
  .tabwell .dimSelected > .active > a:focus,
  .tabwell .dimSelected .dropdown-submenu:hover > a,
  .tabwell .dimSelected .dropdown-submenu:focus > a {
    padding: 3px 0;
    background-color: transparent !important;
    background-image: none !important;
    filter: none;
    /* IE6-9 */
    color: #444444; }
  .tabwell .taoRatings,
  .tabwell .taoAmenities {
    margin-right: 10px;
    text-align: left;
    width: 130px;
    float: left; }
    .tabwell .taoRatings .taoRatingsHeading,
    .tabwell .taoRatings .taoAmenitiesHeading,
    .tabwell .taoAmenities .taoRatingsHeading,
    .tabwell .taoAmenities .taoAmenitiesHeading {
      margin: 0 10px 12px 0;
      padding: 0;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid #cacaca; }
    .tabwell .taoRatings section,
    .tabwell .taoAmenities section {
      clear: both; }
      .tabwell .taoRatings section .multiselect-container,
      .tabwell .taoAmenities section .multiselect-container {
        display: block;
        position: relative;
        float: none;
        box-shadow: none;
        border: none;
        background: none;
        max-height: none !important;
        overflow: hidden; }
        .tabwell .taoRatings section .multiselect-container li a label.radio input,
        .tabwell .taoAmenities section .multiselect-container li a label.radio input {
          margin-right: 5px;
          margin-bottom: 10px;
          float: left;
          clear: left;
          display: block !important; }
    .tabwell .taoRatings .taoFourStars, .tabwell .taoRatings .taoThreeStars, .tabwell .taoRatings .taoTwoStars, .tabwell .taoRatings .taoOneStar,
    .tabwell .taoAmenities .taoFourStars,
    .tabwell .taoAmenities .taoThreeStars,
    .tabwell .taoAmenities .taoTwoStars,
    .tabwell .taoAmenities .taoOneStar {
      background: transparent url("https://prodcache.internal.ihg.com/content/dam/etc/media_library/cn/0/cn/reviews/icon_stars.png") no-repeat 14px 1px; }
    .tabwell .taoRatings .taoThreeStars,
    .tabwell .taoAmenities .taoThreeStars {
      width: 75px; }
    .tabwell .taoRatings .taoTwoStars,
    .tabwell .taoAmenities .taoTwoStars {
      width: 55px; }
    .tabwell .taoRatings .taoOneStar,
    .tabwell .taoAmenities .taoOneStar {
      width: 35px; }
  .tabwell .taoAmenities {
    width: 302px; }
    .tabwell .taoAmenities section {
      clear: none; }
    .tabwell .taoAmenities .amenitiesLeftCol,
    .tabwell .taoAmenities .amenitiesRightCol {
      margin-right: 12px;
      float: left;
      width: 139px; }
      .tabwell .taoAmenities .amenitiesLeftCol .dropdown-menu,
      .tabwell .taoAmenities .amenitiesRightCol .dropdown-menu {
        min-width: 145px; }
      .tabwell .taoAmenities .amenitiesLeftCol .multiselect-container,
      .tabwell .taoAmenities .amenitiesRightCol .multiselect-container {
        display: block;
        position: relative;
        float: none;
        box-shadow: none;
        border: none;
        background: none;
        max-height: none !important;
        overflow: hidden; }
        .tabwell .taoAmenities .amenitiesLeftCol .multiselect-container li > a:hover,
        .tabwell .taoAmenities .amenitiesRightCol .multiselect-container li > a:hover {
          padding: 3px 0;
          overflow: visible; }
      .tabwell .taoAmenities .amenitiesLeftCol span,
      .tabwell .taoAmenities .amenitiesRightCol span {
        padding: 0;
        background: none; }
    .tabwell .taoAmenities .amenitiesRightCol {
      margin-right: 0; }
      .tabwell .taoAmenities .amenitiesRightCol ul li {
        list-style: none; }
      .tabwell .taoAmenities .amenitiesRightCol a {
        color: #444444; }
      .tabwell .taoAmenities .amenitiesRightCol span {
        padding: 0;
        background: none; }
  .tabwell .taoBrands {
    margin-right: 18px;
    padding: 0;
    float: left;
    width: 320px;
    text-align: left; }
    .tabwell .taoBrands .taoBrandsHeading {
      margin: 0 0 12px 0;
      padding: 0;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid #cacaca; }
    .tabwell .taoBrands .brandsLeftCol,
    .tabwell .taoBrands .brandsRightCol {
      margin-right: 12px;
      float: left;
      width: 180px; }
      .tabwell .taoBrands .brandsLeftCol .dropdown-menu li > a,
      .tabwell .taoBrands .brandsRightCol .dropdown-menu li > a {
        padding: 3px 0; }
      .tabwell .taoBrands .brandsLeftCol .multiselect-container,
      .tabwell .taoBrands .brandsRightCol .multiselect-container {
        display: block;
        position: relative;
        float: none;
        box-shadow: none;
        border: none;
        max-height: none !important;
        overflow: hidden;
        background: none; }
        .tabwell .taoBrands .brandsLeftCol .multiselect-container li > a:hover,
        .tabwell .taoBrands .brandsRightCol .multiselect-container li > a:hover {
          padding: 3px 0;
          overflow: auto; }
    .tabwell .taoBrands .brandsRightCol {
      margin-right: 0;
      width: 128px; }
  .tabwell #btnApplyFilter ~ .taoBrands {
    display: none; }
  .tabwell .taoFilterBy {
    margin: 0 0 109px;
    padding: 0;
    float: left;
    width: 145px;
    text-align: left; }
    .tabwell .taoFilterBy .taoFilterByHeading {
      margin: 0 0 12px 0;
      padding: 0;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid #cacaca; }
    .tabwell .taoFilterBy .dropdown-menu {
      min-width: 145px; }
      .tabwell .taoFilterBy .dropdown-menu li > a {
        padding: 3px 0; }
    .tabwell .taoFilterBy .multiselect-container {
      display: block;
      position: relative;
      float: none;
      box-shadow: none;
      border: none;
      background: none;
      max-height: none !important;
      overflow: hidden; }
      .tabwell .taoFilterBy .multiselect-container li > a:hover {
        padding: 3px 0;
        overflow: auto; }
  .tabwell #btnApplyFilter ~ .taoFilterBy,
  .tabwell #btnApplyFilter:nth-child(2) {
    display: none; }
