$font-color: #777;
$white-bg: #fff;
$margin: 0 10px 0 0;
$padding: 0;
$border: 1px solid #e0e0e0;
$form-field-width: 200px;
$form-field-height: 34px;

.container {

  .appdl-bkgd {
    background: url('http://prodcache.internal.ihg.com/content/dam/mobile/6c/en/us/app/app_download_iphone.jpg') no-repeat 0 -22px;
    height: 459px;
    margin-bottom: 55px;
    width: 972px;

    .ihgtranslatortext {
      padding-top: 36px;

      .taoDownloadintro {
        color: $font-color;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
        padding-top: 28px;

        strong {
          color: #d97738;
        }
      }

      #sms_modal {
        max-height: 160px;
      }
    }

    .appdl-store {
      margin-top: 0;
      overflow: auto;
      width: 468px;

      .appdl-badges {
        float: left;
        margin: 0 20px 0 0;
        padding: 0;
        width: 52%;

        img {
          height: auto;
          width: 118px;
        }
      }

      .appdl-stars {
        float: left;
        height: 36px;
        margin: 0;
        overflow: hidden;
        width: 190px;

        p {
          font-size: 11.5px;
        }

      }
    }
  }

  #sms_modal {
    margin-bottom: 60px;

    #sms_modal_form {

      div:nth-child(4) {
        width: 432px;
      }

      .sms_modal_enter_number {
        font-size: 20px;

        .appdl-txt {
          color: $font-color;
          margin: 0;
          padding: 0;
        }

        .taoDataRates {
          color: $font-color;
          font-size: 11px;
          margin-bottom: 15px;
          padding-top: 0;
        }
      }

      .cellphonenumber,
      .countrydrop {
        margin-top: 0;

        input[type="number"],
        select {
          background: $white-bg;
          border: $border;
          color: $font-color;
          height: $form-field-height;
          margin: $margin;
          padding: $padding;
          width: $form-field-width;
        }

        /* Remove "spinners" and made input a simple textfield */
        input#sms_modal_form_number[type="number"] {
          /*-moz-appearance: textfield;*/
          -webkit-appearance: textfield;
        }

        /* Re-applies the controls on :hover and :focus */
        input#sms_modal_form_number[type="number"]:hover,
        input#sms_modal_form_number[type="number"]:focus {
          -moz-appearance: number-input;
          -webkit-appearance: number-input;
        }  

        select {
          line-height: 30px; /* Fixes Safari bug causing select menu to collapse */
        }

      }

      .sms_modal_terms {
        display: none;
      }

      .appdl-sms-send {
        margin-top: 33px;
      }
    }
  }

  .appdl-rating-txt {
    display: none;
  }

}
