/* line 4, ../sass/card_icon.scss */
#myMessages .chaseOffer {
  margin: 0 0 15px;
  padding: 0;
  overflow: auto;
}
/* line 9, ../sass/card_icon.scss */
#myMessages .chaseOffer img {
  margin: 1px 5px 0 0;
  float: left;
}
/* line 13, ../sass/card_icon.scss */
#myMessages .chaseOffer p {
  margin: 0;
  padding: 7px 0 5px;
  float: left;
  width: 330px;
}
