.bpgContainerNew {
  margin-bottom: 10px;
  float:left;	
	
	.bpg_congratulations, .bpg_message {
		font-size: 20px;
		font-weight: bold;
		line-height: 28px;
		display: block;
		color: #7b5400;
	}
	.bpg_message {
		font-weight: normal;
		color: #54534a;
	}

}