$background: #FF6600;

#myMessages {
	.chaseOffer {
		margin:0 0 15px;
		padding:0;
		overflow: auto;

		img {
			margin:0 10px 0 0;
			float:left;
		}
		p {
			margin:0;
			padding:7px 0 5px;
			float:left;
			width:315px;
		}
	}
}