#myMessages {
	.chaseOffer {
		margin:0 0 15px;
		padding:0;
		overflow:auto;

		img {
			margin:0 10px 0 0;
			float:left;
		}
		p {
			margin:0;
			padding:5px 0;
			float:left;
			width:407px;			
		}
		.currentPts, .pointsInt, .bonusInt, .totalInt {
			padding:0;
			float:left;
			width:auto;
		}
		.pointsInt, .bonusInt, .totalInt {
			font-weight:bold;
		}		
		.value {
			float:left;
			font-size:1em;
			font-weight:bold;
		}
		.bonusPtsTxt {
			padding:0 4px;
			float:left;
			font-weight:normal;
			
			.bonusPts {
				padding-left:5px;
				float:none;
				font-weight:bold;
			}			
		}
		.string, .totalPts {
			font-weight:bold;
		}		
	}
}